*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --first-color: hsl(354, 78%, 60%);
  --button-color: hsl(0, 0%, 17%);
  --button-color-alt: hsl(0, 0%, 21%);
  --card-color: hsl(0, 0%, 90%);
  --title-color: hsl(0, 0%, 15%);
  --text-color: hsl(0, 0%, 35%);
  --text-color-light: hsl(0, 0%, 55%);
  --body-color: hsl(206, 4%, 97%);
  --container-color: #fff;
  --border-color: hsl(0, 0%, 94%);

  /*========== Font and typography ==========*/
  --body-font: 'Roboto', sans-serif;
}

/*=============== THEME ===============*/
/*========== Variables Dark theme ==========*/
body.dark{
    --first-color: hsl(182, 53%, 74%);
    --button-color: hsl(246, 16%, 12%);
    --button-color-alt: hsl(0, 0%, 28%);
    --card-color: hsla(246, 16%, 5%, .5);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(249, 19%, 14%);
    --container-color: hsl(246, 16%, 12%);
    --border-color: hsl(0, 0%, 20%);
}

/*========================================*/
/*========== Etiquetas del html ==========*/
body{
  color: var(--text-color);
  font-family: var(--body-font);
  font-weight: 400;
  background-color: var(--body-color);
  padding: 0 1rem 1rem 1rem;
}
h1{
  color: var(--title-color);
  font-family: var(--body-font);
  font-weight: 700;
  background-color: var(--body-color);
}
h2, h3{
  color: var(--title-color);
  font-family: var(--body-font);
  font-weight: 500;
  background-color: var(--body-color);
}
a{
  text-decoration: none;
  font-size: 20px;
  color: var(--text-color);
  padding-top: 5rem;  
  
}
li{
  list-style: none;
  cursor: pointer;
}
footer{
  background-color: var(--container-color);
  margin-top: 5rem;
}

/*========================================*/
/*========== Contenedor global ===========*/
.container {
  width: 100%;
  max-width: 300px;
  min-width: 300px;
  margin: 0 auto;
}
/*========================================*/
/*========== logo de carga ============*/
.loader{
  background-color: whitesmoke;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.loader.hide{
  display: none;
}

.loader--img{
  width: 100px;
  fill: var(--first-color);
  position: relative;
  animation: load 1.5s infinite;
}
/*========================================*/
/*========== Barra Navegacion ============*/
.nav {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items:flex-start;
  justify-content: center;
  color: var(--title-color);
  background-color: var(--container-color);
  padding: 2rem;
  margin: 0 auto;
}
.logo-home{
  width: 59%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  z-index: 2;
}
.logo{
  width: 50px;
  fill: var(--first-color);
  z-index: 2;
 }

.menuNav{
  display: none;
}
.nav-menu {
  width: 80%;
  max-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  gap: 1rem;
  z-index: 3;
  
 }
 .nav--cart{
  position: relative;
 }
 .counter{
  background-color: var(--text-color);
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  padding: 0.25rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  position: absolute;
  bottom: -5px;
  right: -5px;
 }/*
 */
/*========================================*/
/*========== Div menu oculto =============*/
.menu-cont{
  width: 100%;
  height: 100%;
  background-color: rgba(144, 140, 140, 0.658);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}
.menu-cont.hide{
  display: none;
}
.x--menu{  /* btn cerrar menu*/
  font-size: 2rem;
  position: absolute;
  top: .5rem;
  right: 1rem;
  color: var(--first-color);
  z-index: 100;
}
.menu-desplegable{
  list-style: none;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background-color: var(--body-color);
  position: absolute;
  display: flex;
  padding-top: 5rem;
  gap: 3rem;
  flex-direction: column;
  box-shadow: -4px 5px 10px rgb(147 147 147);
  text-align: center;
  text-decoration: none;
  right: 0;
}
/*========================================*/
/*======= Div Contenedor Carrito =========*/
.cart--container{
  width: 100%;
  height: 100%;
  background-color: rgba(144, 140, 140, 0.658);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}
.cart--container.hide{
  display: none;
}
.cart{
  list-style: none;
  width: 100%;
  max-width: 300px;
  height: 100%;
  background-color: var(--body-color);
  position: absolute;
  display: flex;
  padding-top: 5rem;
  gap: 3rem;
  flex-direction: column;
  box-shadow: -4px 5px 10px rgb(147 147 147);
  text-align: center;
  text-decoration: none;
  right: 0;
}

.close--cart{
  font-size: 2rem;
  position: absolute;
  top: .5rem;
  right: 1rem;
  color: var(--first-color);
  z-index: 100;
}
/*========================================*/
/*== Productos Seleccionados Carrito =====*/
.product-selected{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.cartProd{
  position: relative;
  border: 1px  lightslategray;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center; 
  width: 100%;
  max-width: 250px;
  height: 150px;
  left: 1rem;
  background-color: var(--body-color);
}
.cartProd-total{
  position: relative;
  border: 1px  lightslategray;
  box-shadow: -3px 5px 10px rgb(147 147 147);
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center; 
  left: 1rem;
  top: 1rem;
  width: 300px;
  max-width: 300px;
  height: 200px;
  background-color: var(--body-color);
}
.div-img-product-cart{
  font-size: 18px;
  background-color:var(--container-color) ;
}
.img-cartProduct{
  background-color: var(--body-color);
  width: 100px;
 }
 .cart-info{
  font-size: 18px;
  color: var(--text-color);
  width: 160px;
}
.price{
  margin-bottom: 2rem;
  width: 100%;
  height: auto;
}
.text-red{
  color: var(--first-color);
}
/*========================================*/
/*=== Seccion de los totales carrito =====*/
.totales{
  width: 100%;
    height: 20px;
    font-size: 18px;
    position: absolute;
    top: 80%;
   padding: 2rem;
    color: var(--first-color);
    display: flex;
    justify-content: space-between;
}
 .totalProduct{
  display: flex;
  justify-content: space-between;
 }
 .totalPrice{
  display: flex;
  justify-content: space-between;
 }
 .cart-info-total{
  font-size: 18px;
  color: var(--text-color);
  width: 100%;
}
.img-cartProduct{
 background-color: var(--body-color);
 width: 100px;
}
/*========================================*/
/*====== Seccion del main principal ======*/
.first-img{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.img-container{  /*Color de la imagen central*/
  position: relative;
  background-color: var(--first-color);
  right: 0;
  width: 100%;
  max-width: 140px;
  height: 300px;
  top: -60px;
  padding-top: 60px;
  left: 25%;
}
.img-first{
  padding-top: 50%;
  width: 100%;
}
.text-container{
   width: 80%;
   display: flex;
   flex-direction: column;
}
.text-price{
  color: var(--first-color);
}
.buttons{
  display: flex;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 300px;
}
.discBtn{
  width: 100px;
  padding-top: .5rem;
  height: 35px;
  color: var(--title-color);
  background-color: var(--text-color-light);
  font-weight: 700;
  text-align: center;
  margin-top: 3px;
}
.addBtn{
  width: 100%;
  padding-top: .75rem;
  height: 45px;
  color: whitesmoke;
  font-weight: 700;
  text-align: center;
  background-color: var(--button-color);
}
/*========================================*/
/*== Seccion del main productos filtrado ==*/
.cont-products{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.contain-filter{
  display: grid;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
  grid-template-areas:
  "showall hoodies"
  "shirts  sweatshirts" ;
}
.shoall{
  grid-area: showall ;
}
.hoodies{
  grid-area: hoodies ;
}
.shirts{
  grid-area: shirts ;
}
.sweatshirts{
  grid-area: sweatshirts ;
}
/*========================================*/
/*======= Productos auto agregados =======*/
.product-list{
  display: flex;
  flex-direction: column;
}
.product-card{
  position: relative;
  padding: 0.5rem;
  margin: 0 auto;
  border: 1px lightslategray;
  border-radius: 10px;
  border: var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around; 
  width: 250px;
  max-width: 400px;
  height: 450px;
  background-color:var(--body-color) ;
 
}
.div-img-product-main{
  width: 100%;
  background-color: var(--card-color);
}
.btnAdd-main{
  position: absolute;
  /* left: 0; */
  right: 40px;
  color: var(--text-color-light);
  border-radius: 50%;
  top: 250px;
}
.img-product{
  width: 100%;
}
.info-CardProduct{
  width: 100%;
  max-width: 250px;
}
.h-cardProduct{
  font-size: 15px;
}
/*========================================*/
/*======= Productos auto agregados =======*/
.foot{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  
}
.sectionContain{
  width: 80%;
  height: auto;
  text-align: left;
 margin:  auto;

}
.social>i{
 gap: 3rem;
 cursor: pointer;
}
/*========================================*/
/*======= Animacion carga inicio =========*/
 @keyframes load{
  0%{
      top: 0;
  }
  50%{
      top: -30px;
  }
  100%{
      top: 0;
  }
}
/*========================================*/
/*=========== Hovers =====================*/
 i, li, .buttons, .showall, .hoodies, .sweatshirts:hover{
  cursor: pointer;
 
}
li:hover{
  color: var(--first-color);
}

@media screen and (min-width: 668px) {
  .container {
    width: 100%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
  }
  .img-container{  /*Color de la imagen central*/
    width: 100%;
    max-width: 250px;
    height: 300px;
    top: -60px;
    padding-top: 60px;
    left: 25%;
  }
  .img-first{
    padding-top: 0%;
    width: 100%;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 100%;
    max-width: 900px;
    min-width: 300px;
    margin: 0 auto;
  }
  .img-container{  /*Color de la imagen central*/
    width: 100%;
    max-width: 400px;
    height: 500px;
    top: -60px;
    padding-top: 60px;
    left: 25%;
  }
  .text-container{
    width: 38%;
    display: flex;
    flex-direction: column;
    position: relative;
    left: -210px;
    top: -279px;
  }
  .contain-filter{
    display: flex;
  }
  .product-list{
    flex-direction: row;
  }
  .foot{
    flex-direction: row;
  }
  .social{
    display: flex;
    flex-direction: row;
  }
  .menuArea{
    display: none;
  }
  .menuNav{
    font-size: 25px;
    display: flex;
    gap: 2rem;
    margin-left: 2rem;
  }
}